@model PIISTECHLTD.Application.ViewModel.StatusVm

@{
    ViewData["Title"] = "Status Create";
}

<br />
<br />

<div class="row mt-5">
    <div class="col-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Status" asp-action="CreateOrEdit" method="post">
                    <div class="form-group row mt-2">
                        <label asp-for=Name class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                    </div>
                    <div class="input-group-append mt-4 justify-content-end">
                        <input type="submit" value="Save" class="btn btn-primary text-center mr-2" />
                        <a class="btn btn-danger text-center" asp-action="Index" asp-controller="Status">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}